* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #ffffff;
    color: #313639;
  }

nav header {
    font-size: 1.5rem;
    padding: 1rem;
}
nav {
    background-color: #ffffff;
    height: 100%;
    width: 19rem;
    position: fixed;
    overflow: auto;
    z-index: 1;
    border-right: 1px solid #313639;
}

nav li {
    list-style-type: none;
    border-top: 1px solid #313639;
    transition: 0.3s;
}

.nav-link {
    display: block;
    text-decoration: none;
    color: #313639;
    font-size: 1.2rem;
    font-weight: 200;
    padding: 0.75rem 1rem;
}

nav li a:hover {
    background-color: #323239;
    color: #ffffff;
    opacity: 0.75;
}
main {
    margin-left: 19rem;
    padding: 1rem;
}

main header {
    font-size: 1.75rem;
    margin: 1rem 0;
}

p, main li {
    margin-bottom: 1rem;
    margin-left: 1rem;
}

main ul {
    margin-left: 1.5rem;
}

code {
    display: block;
    text-align: left;
    white-space: pre-line;
    background-color: #f7f7f7;
    padding: 0.5rem 1rem 1rem 1rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
}

@media screen and (max-width: 800px) {

    nav {
        width: 16rem;
    }

    main {
        margin-left: 16rem;
    }

    .nav-link {
        padding: 0.5rem 1rem;
        font-size: 1rem;
    }
}

@media screen and (max-width: 700px) {
    nav {
        width: 100%;
        height: auto;
        position: fixed;
        border-right: 0;
    }

    nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        padding: 0;
        border-bottom: 1px solid #323239;
    }

    nav li {
        border-top: 0;

    }

    main {
        margin-left: 0;
        padding: 1rem 2rem;
        padding-top: 18rem;
    }

    nav header {
        text-align: center;
        font-size: 2rem;
    }
  }

  @media screen and (max-width: 470px) {
    main {
        padding-top: 20rem;
    }
  }

  @media screen and (max-width: 400px) {
    main {
        padding-top: 25rem;
    }
  }

  @media screen and (max-width: 360px) {
    main {
        padding-top: 28rem;
    }

  }
